@{
    ViewBag.Title = "Главная";
}

<div class="col">
    <div class="row-md-4">
        <p><a class="btn btn-default btn-menu center-block" href="@Url.Action("Admission", "Home")"><b>Работа с допущенными сотрудниками</b></a></p>
    </div>
    <div class="row-md-4">
        <p><a class="btn btn-default btn-menu center-block" href="@Url.Action("NewEmployee", "Home")"><b>Добавить сотрудника</b></a></p>
    </div>
    <div class="row-md-4">
        <p><a class="btn btn-default btn-menu center-block" href="@Url.Action("Journal", "Home")"><b>Журнал действий</b></a></p>
    </div>
</div>